@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$font-rubik : 'Rubik', sans-serif ; 
$color1 : #1FAB89 ;

.bg--white{ 
    background-color: white;
}

.btn--black{
    font-family: $font-rubik;
    color: #4D4D4D;
    font-weight: 900;
    border-color: #4D4D4D;
    &:hover {
        color: $color1;
        border-color: $color1;
    }
}

.btn--lg {
    padding: 8px 20px 8px 20px;
    border: 2.5px solid;
    border-radius: 6px;
}