@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

@mixin font-rubik {
	font-family: 'Rubik'!important;
	font-style: normal!important;
	font-weight: 500!important;
	font-size: 16px!important;
}

@mixin img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin font-karla {
	font-family: Karla;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

#nav {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		.router-link-exact-active {
			color: #42b983;
		}
	}
}

/* NAVBAR */
.navbar {
	@include font-rubik;
	line-height: 19px!important;
	padding-top: 20px!important;
	padding-bottom: 20px!important;

	.btn {
		@include font-rubik;
		margin-top: -4px!important;
	}
}

.bg-putih {
	background-color: #fff!important;
}

.navbar-light {
	.navbar-nav {
		.nav-item {
			margin-left: 20px;
		}
		.nav-link {
			color: #B1B1B1!important;

			&:hover {
				color: #1FAB89!important;
			}
		}
		.active>.nav-link {
			color: #1FAB89!important;
		}
	}
}

/* CONTAINER */
.container-landing, .container-nav, .container-footer {
	max-width: 90%!important;
}

.container-landing {
	margin-top: calc(5% + 88px);
	margin-bottom: 10%;

	.h1-bg {
		background: linear-gradient(to top, rgba(166, 64, 247, 0.3) 40%, transparent 40%);
	}

	.btn {
		text-transform: uppercase;
	}
}

/* CUSTOM BUTTON */
.btn {
	@include font-rubik;
	font-size: 15px!important;
	margin-top: 40px;
}

.btn-main {
	color: #4D4D4D;
	background-color: transparent;
	border: 2px #4D4D4D solid!important;

	&:hover {
		color: #1FAB89;
		background-color: transparent;
		border: 2px #1FAB89 solid!important;
	}
}

.btn-landing {
	color: #fff;
	background-color: #1FAB89;
	border: 2px #1FAB89 solid!important;

	&:hover {
		color: #1FAB89;
		background-color: transparent;
		border: 2px #1FAB89 solid!important;
	}
}